section.breadcrumbs
    .container
        .row.content.d-flex.align-items-center
            .col-12
                .wow-outer
                    h6.wow.fadeInDown контроллеры
                .wow-outer
                    h1.wow.fadeInDown ulc-02
        .row
            .col-12.wow-outer
                ul.wow.fadeInDown
                    li 
                        a(href="#") Главная
                    li 
                        a(href="#") Контроллеры
                    li 
                        a(href="#") ULC-02